body {
  background: #000;
  font-family: 'jf-openhuninn';
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.302vw 0.78125vw 0 0.78125vw;
  border-color: #000 transparent transparent transparent;
}